#btEnviarInicio {
    -fx-background-color: #133253;
    -fx-background-radius: 10 10 10 10;
}
#btEnviarInicio:hover {
    -fx-background-color: #4B698B;
}
#btCrearInforme {
    -fx-background-color: skyblue;
}
#btCrearInforme:hover {
    -fx-background-color: #4B698B;
}
#btAgregarAdministracion {
    -fx-background-color: skyblue;
}
#btEliminarAdministracion {
    -fx-background-color: skyblue;
}
#btModificarAdministracion {
    -fx-background-color: skyblue;
}
#btAgregarAdministracion:hover {
    -fx-background-color: #4B698B;
}
#btEliminarAdministracion:hover {
    -fx-background-color: #4B698B;
}
#btModificarAdministracion:hover {
    -fx-background-color: #4B698B;
}

#tvSesion .table-column {
  -fx-alignment: CENTER;
}